# Dependencies
node_modules/
venv/
env/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
nagarkot.db
nagarkot.db-journal
*.sqlite3

# Environment Variables
.env
.env.docker

# Build Outputs
dist/
build/
*.egg-info/
.next/
out/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS Data
.DS_Store
Thumbs.db

# User Uploads
backend/uploads/
