# Dependencies
node_modules/
venv/
env/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
nagarkot.db
nagarkot.db-journal
training.db
*.db
*.sqlite3

# Environment Variables
.env
.env.docker

# Build Outputs
dist/
build/
*.egg-info/
.next/
out/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS Data
.DS_Store
Thumbs.db
OS/
OS_old/

# User Uploads
backend/uploads/
frontend/src/components/securevideoplayer old.jsx

nagarkot-learning-03b01c0ae771.json